@using Runas_Explosivas.Models;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Administración";
    ViewBag.HeaderText = ".admin";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-tower";
}

<p> Las acciones de administrador están en la barra de navegación inferior.</p>
<p> Para volver a la página, presiona el logo de Runas Explosivas en la barra de navegación.</p>