/* CSS CON SELECTORES GENERALES */

body {
    /*overflow-x: hidden;*/
    background-color: #E5E5E5;
    font-family: Verdana, Geneva, sans-serif;
}

a:not(.btn){
    color: #000000;
    transition: font-size 0.3s;
}

a:hover:not(.btn) {
    color: #000000;
    text-decoration: none;
    font-size: 103%;
}

a:active:not(.btn) {
    text-decoration: none;
}

.lista-sin-estilo{
    list-style:none;
}

.bottom-pad { /* Agrega padding al body para que la navbar inferior no tape el contenido de la página */
    padding-bottom: 50px;
}

.main {
    padding: 15px 30px 15px 15px;
    background-color: #c6c6c6;
    margin-left: 2%;
    margin-right: 2%;
}

@media only screen and (min-width: 769PX) {
    .main {
        margin-left: 13%;
        margin-right: 14%;
        padding-left: 30px;
        padding-right: 45px;
    }
}

@media only screen and (min-width: 426PX) and (max-width: 768px) {
    .main {
        margin-left: 8%;
        margin-right: 8%;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* CSS DE PAGE HEADER */

#page-header {
    height: 14vh;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    text-align: center;
    border-style: none;
}

    #page-header h1 {
        margin-top: 0;
        font-size: 4em;
    }

small.subtitulo {
    font-size: 32px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    #page-header > h1 {
        font-size: 3em;
    }
    #page-header {
        height: 12vh;
    }
}

@media only screen and (max-width: 768px) {
    #page-header small {
        display: none !important;
    }
}

    #page-header > h1 > span {
        padding-left: 5px;
    }

    #usuario-conectado {
        text-align: right;
        padding-right: 15px;
        padding-top: 5px;
        position: absolute;
        right: 0px;
    }

    @media only screen and (max-width: 768px) {
        #usuario-conectado {
            text-align: right;
            padding-right: 15px;
            padding-top: 10px;
            position: absolute;
            right: 0px;
            top: 40px;
            font-size: 10px;
        }
    }


    /* CSS de AVISOS EN HEADER */
    .avisos {
        font-style: italic;
    }

    /* CSS PARA ARTICULOS */

    .articulo {
        padding: 10px;
        transition: width 1.5s, height 1s;
    }

    @media only screen and (min-width: 768px) {
        .articulo {
            padding: 20px;
        }

        #display-articulos-secundarios > .articulo {
            height: 35vh;
            overflow: hidden;
        }
    }

    .articulo h3 {
        margin-top: 10px;
    }

    .articulo > h3 > a {
        padding-left: 2px;
        padding-right: 2px;
    }

    .articulo p {
        text-align: justify;
    }

    .articulo > img {
        width: inherit;
    }

    #destacado {
        min-height: 40vh;
    }

    /* CSS de páginas individuales de artículos y productos */

    .cuerpo-articulo,
    .cuerpo-articulo > p {
        text-align: justify;
        text-indent: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        white-space: pre-wrap;
    }

    .alineado-derecho {
        text-align: right;
    }

    .articulo-info {
        color: #545454;
        font-style: italic;
        letter-spacing: 3px;
        font-size: 110%;
        font-variant: small-caps;
        word-wrap: break-word;
    }

    #articulo-precio {
        margin: auto;
        width: 25vw;
        border-bottom: 3px inset #ef6c00;
        border-right: 3px inset #ef6c00;
        border-top-left-radius: 15px;
    }

        #articulo-precio p {
            padding-top: 5px;
            font-weight: bold;
            text-align: center;
            letter-spacing: 4px;
            font-size: 18px;
            color: #ff9d3f;
        }

        #articulo-precio span {
            font-size: 150%;
            color: #ff9d3f;
            padding-top: 5px;
        }


    /* CSS DE EMBED DE PODCAST EN ARTÍCULOS INDIVIDUALES */
    #link-podcast {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

        #link-podcast iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    /* CSS DE LA SECCIÓN DE COMENTARIOS A ARTÍCULOS*/
    #lista-comentarios {
        display: none;
    }

        #lista-comentarios > ul {
            padding-left: 10px;
        }

    .comentario {
        list-style-type: none;
        margin: 0;
    }

    .comentario-nested-0 {
        border-left: 5px solid #545454;
        padding: 2px 2px 2px 5px;
    }

    .comentario-nested-1 {
        border-left: 8px solid #6b6b6b;
        padding: 2px 2px 2px 12px;
    }

    .comentario-nested-2 {
        border-left: 10px solid #828282;
        padding: 2px 2px 2px 20px;
    }

    .comentario-nested-3 {
        border-left: 12px solid #999999;
        padding: 2px 2px 2px 28px;
    }

    /* CSS DE BOTON DE COMENTARIOS, PARA ANIMAR SU MOVIMIENTO */

    #boton-comentarios {
        transition: all 1s ease;
    }

    /* CSS DE BOTÓN DE SCROLLDOWN DE EDITORIAL */

    #boton-scrolldown {
        position: absolute;
        top: 68vh;
        left: 6vw;
        border-radius: 25px;
    }

    /* CSS DE TAGS QUE ACOMPAÑAN CADA ARTÍCULO */
    .tag-text {
        border-radius: 10px;
        font-size: 0.5em;
        margin-left: 5px;
        padding: 3px;
        font-style: italic;
        font-family: Verdana, Geneva, sans-serif;
        display: none;
    }

.tag-icon {
    padding-right: 5px;
    font-size: 14px;
    color: #545454;
}

    /* MANEJO DE COLORES */

    .inverted { /* cambia color de fondo y de fuente para header, navbar y otros elementos */
        background-color: #2B2B2B;
        background: -webkit-linear-gradient(#2B2B2B, #383838); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#2B2B2B, #383838); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#2B2B2B, #383838); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#2B2B2B, #383838); /* Standard syntax */
        color: #D6D6D6;
    }

    .secondary-color, /* VERSIÓN MÁS CLARA DEL COLOR SECUNDARIO */
    .secondary-color > span {
        color: #ffce6f;
    }

    .inverted-secondary { /* cambia color de fondo y de fuente para header, navbar y otros elementos */
        background-color: #ef6c00; /* VERSIÓN CON FONDO DE COLOR SECUNDARIO FUERTE*/
        color: #000000; /* COLOR NEGRO PARA FUENTE */
        border-style: none;
    }

.inverted-light, /* VERSIÓN CON GRIS OSCURO DE COLOR DE FONDO, Y BLANCO DE COLOR DE FUENTE */
.inverted-light p,
.inverted-light li a,
.inverted-light a:not(.btn) {
    background-color: #545454;
    color: #ffffff;
}

    .inverted-extra-light { /* VERSIÓN CON GRIS CLARO DE COLOR DE FONDO */
        background-color: #a0a0a0;
        border-style: none;
    }

    .dark-gray { /*GRIS OSCURO COMO COLOR DE FUENTE */
        color: #545454;
    }

.light-gray { /* GRIS CLARO DE COLOR DE FUENTE */
    color: #a0a0a0;
}

    .black-font, /*Color de fuente negro para fondos claros*/
    .black-font > li > a,
    .black-font > a,
    .black-font > li > a > span { 
        color: #000000 !important;
        border-color: #000000;
    }

    .fuenteRE { /* Fuente central de la página*/
        font-family: 'Amatic SC', cursive;
    }

    hr.inverted {
        border-color: #2B2B2B;
        border-width: 6px;
        margin-left: 0px;
    }

    .fondo-gris {
        background-color: #383838 !important;
    }

    .borde-azul {
        border: 2px solid #7c5fb5 !important;
    }

    /* CSS DE HR QUE SEPARA HEADER Y FOOTER */
    #separador-footer {
        margin-top: 10px;
        margin-bottom: 0px;
    }


    #separador-header {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    hr {
        margin-left: 2%;
    }

    /* CSS DE NAVBARS */

    #logoRE {
        font-size: 4em;
        transition: font-size 0.7s ease;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #000000;
    }

    .fa-sub { /*clase específica para íconos de facebook y youtube de la página */
        padding-top: 20px;
        padding-right: 3px;
        color: #000000;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000000;
    }

    .navbar-default .navbar-toggle {
        border-color: #2b2b2b;
    }

    /* CSS DE ADMIN NAVBAR*/

    #admin-navbar {
        border-radius: 0px;
        margin-bottom: 0px;
    }

    /* CSS de BARRA LATERAL */
    #barra-lateral {
        bottom: 89px;
        right: 0;
        height: 67vh;
        border-radius: 5px 0 0 15px;
        position: fixed;
        z-index: 20;
        overflow-x: auto;
        transition: width 0.5s ease, box-shadow 1s ease;
    }

    @media only screen and (min-width: 768px) {
        #barra-lateral {
            height: 72vh;
        }
    }

    @media only screen and (min-width: 769px) and (max-width: 1025px) {
        #barra-lateral {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    @media only screen and (min-width: 426px) and (max-width: 768px){
        #barra-lateral.col-xs-7 {
            width: 33.33%;
        }
    }

    .icono-expandir-barra {
        font-size: 1.5em;
        right: 8px;
        top: 3px;
        color: #ff9d3f;
    }

    #barra-lateral-contenido {
        padding-top: 5px;
    }

    .barra-lateral-widget:not([main-section]) {
        display: none;
    }

    @media only screen and (max-width: 769px) {
        .barra-lateral-widget {
            display: none;
        }
    }

    /* CSS DE SECCIONES DE BARRA LATERAL */

    .lista-carrito-barra-lateral {
        list-style: none;
        padding-left: 1px;
        font-size: 11px;
        text-align: end;
    }

        .lista-carrito-barra-lateral li {
            padding-bottom: 5px;
        }

.lista-carrito-checkout {
    list-style: none;
    font-size: 16px;
    text-align: end;
}

    .lista-carrito-checkout li {
        padding-bottom: 5px;
    }


    .boton-quitar-de-carrito{
        margin-left: 3px;
        border-radius: 15px;
        font-size: 10px;
    }

    #busqueda-realizada ul{
        padding-left: 8px;
    }

    /* CSS de BOTONES DE BARRA LATERAL */

    #botonera {
        position: fixed;
        bottom: 65px;
        right: 15px;
        border-radius: 15px;
        z-index: 25;
    }

    .margin-top{
        margin-top: 10px;
    }

    /* CSS DE EDITORIAL */

    #display-tienda {
        margin-right: 5px;
        margin: auto;
    }

    /* CSS DE CAROUSEL */

    .carousel-caption {
        background: rgba(84,84,84,0.85);
        border-radius: 25px;
    }

    @media only screen and (max-width: 767PX) {
        .carousel-caption {
            font-size: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            bottom: 10px;
        }

        .carousel-indicators {
            bottom: -12px;
            opacity: 0.2;
        }
    }

    /*CSS DE PRODUCTOS DE TIENDA */

    .producto {
        border-radius: 0px 0px 25px 0px;
        height: 33vh;
        width: 31vw;
        margin: 7px;
        padding: 0px;
    }

    .btn-agregar-carrito:not(a) {
        position: absolute;
        bottom: 10px;
        right: 10px;
        border-radius: 30px;
        transition: opacity ease 0.5s;
    }

    .producto-header {
        padding: 10px;
        opacity: 0.95;
    }

    .categorias-producto {
        position: absolute;
        top: 3px;
        right: 3px;
        font-style: italic;
        list-style: none;
        font-size: small;
        text-align: right;
        display: none;
        color: #919191;
    }

    .producto-header h5 {
        font-size: 1.5em;
        text-align: center;
        padding-left: 2px;
    }

    .opaco {
        opacity: 0.3;
    }

    .descripcion-producto {
        color: #ffffff;
        padding: 10px;
        transition: opacity ease 0.5s;
    }

    .producto-footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        opacity: 0.95;
        font-size: large;
        border-radius: 0px 15px 0px 0px;
        transition: width ease 0.5s;
    }



    @media screen and (max-width: 426px) {
        body .producto {
            width: initial;
        }

        body .producto-header h5 {
            font-size: 1em;
            text-align: left;
            margin-top: 10px;
        }
    }


    @media screen and (min-width: 426px) and (max-width:769px) {
        body #display-tienda {
            margin-right: unset;
            margin-left: 30px;
        }

        body .producto-header h5 {
            font-size: 1.2em;
        }
    }

    @media screen and (max-width:769px) {
        body .producto-header {
            padding: 3px;
        }

        body .categorias-producto {
            font-size: 0.7em;
        }

        body .descripcion-producto {
            font-size: smaller;
        }
    }

    /* CSS DE ANIMACIONES DE TIENDA */

#signo-atencion-carrito {
    color: #42d4f4;
    z-index: 50;
    position: fixed;
    font-size: 35px;
    display: none;
    transition: font-size linear 1s;
}

/* CSS DE CHECKOUT DE EDITORIAL */

#precio-total {
    font-size: 22px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
}

    /* SHADOWS FOR MATERIAL DESIGN 

HOVER Y FOCUS SON Z-DEPTH + 1; FOCUS EN CUALQUIER VARIANTE ES Z-DEPTH - 1*/
    .z-depth-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.35);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

        .z-depth-1.hover,
        .z-depth-1:hover,
        .z-depth-1.focus,
        .z-depth-1:focus {
            box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.34);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

    .z-depth-2 {
        box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.34);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

        .z-depth-2.hover,
        .z-depth-2:hover,
        .z-depth-2.focus,
        .z-depth-2:focus {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.33);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

        .z-depth-2.active,
        .z-depth-2:active,
        .z-depth-2.active:hover,
        .z-depth-2:active:hover,
        .z-depth-2.active:focus {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.35);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

    .z-depth-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.33);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

        .z-depth-3.hover,
        .z-depth-3:hover,
        .z-depth-3.focus,
        .z-depth-3:focus {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.32);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

        .z-depth-3.active,
        .z-depth-3:active,
        .z-depth-3.active:hover,
        .z-depth-3:active:hover,
        .z-depth-3.active:focus {
            box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.34);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

    .z-depth-4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.32);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

        .z-depth-4.hover,
        .z-depth-4:hover,
        .z-depth-4.focus,
        .z-depth-4:focus {
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.31);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

        .z-depth-4.active,
        .z-depth-4:active,
        .z-depth-4.active:hover,
        .z-depth-4:active:hover,
        .z-depth-4.active:focus {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.33);
            transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        }

    .z-depth-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.31);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

        .z-depth-5.active,
        .z-depth-5:active,
        .z-depth-5.active:hover,
        .z-depth-5:active:hover,
        .z-depth-5.active:focus {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.32);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }

    /* NUEVOS COLORES PARA BOTONES */

    .btn-primary { 
        background-color: #ef6c00;
        color: #000000;
        border-color: #d84a02;
    }

        .btn-primary:active,
        .btn-primary.active {
            background-color: #d15e00;
            color: #000000;
            border-color: #b55100;
        }

            .btn-primary:focus,
            .btn-primary.focus,
            .btn-primary.active:hover,
            .btn-primary:active:hover,
            .btn-primary:hover,
            .btn-primary.hover,
            .btn-primary.active:focus {
                color: #000000;
                background-color: #a04800;
                border-color: #914100;
            }

    .btn-info {
        background-color: #ff9d3f;
        color: #000000;
        border-color: #ef6c00;
    }

        .btn-info:active,
        .btn-info.active {
            background-color: #7F4E1F;
            color: #000000;
            border-color: #5E3A17;
        }

            .btn-info:focus,
            .btn-info.focus,
            .btn-info.active:hover,
            .btn-info:active:hover,
            .btn-info:hover,
            .btn-info.hover,
            .btn-info.active:focus {
                color: #000000;
                background-color: #BF762F;
                border-color: #5E3A17;
            }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-success {
        background-color: #b388ff;
        color: #000000;
        border-color: #8967c4;
    }

        .btn-success:active,
        .btn-success.active {
            background-color: #926fd4;
            color: #000000;
            border-color: #7c5fb5;
        }

            .btn-success:focus,
            .btn-success.focus,
            .btn-success.active:hover,
            .btn-success:active:hover,
            .btn-success:hover,
            .btn-success.hover,
            .btn-success.active:focus {
                color: #000000;
                background-color: #926fd4;
                border-color: #7c5fb5;
            }

    /* CSS DE PÁGINA DE ADMIN */

    .admin-subpage {
        display: none;
    }

    .admin-subpage label {
        padding-top: 10px;
    }

    .oculto {
        display: none;
    }

    label{
        padding-top: 5px;
    }

    .form-group p {
        padding-top: 7px;
    }