USE [master]
GO
/****** Object:  Database [RunasExplosibasDB]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE DATABASE [RunasExplosibasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RunasExplosibasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RunasExplosibasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RunasExplosibasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RunasExplosibasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RunasExplosibasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RunasExplosibasDB]
GO
USE [RunasExplosibasDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[OrdenComentInternal] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Articulos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProductoes]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProductoes](
	[Categoria_Nombre] [nvarchar](50) NOT NULL,
	[Producto_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CategoriaProductoes] PRIMARY KEY CLUSTERED 
(
	[Categoria_Nombre] ASC,
	[Producto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Nombre] [nvarchar](50) NOT NULL,
	[Prioridad] [bit] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[HasStockIlimitado] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosEnArticulos]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosEnArticulos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[ArticuloComentado_ID] [int] NOT NULL,
	[Autor_Mail] [nvarchar](100) NOT NULL,
	[RespuestaA_ID] [int] NULL,
	[Derivacion] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ComentariosEnArticulos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[MailEnviado] [bit] NOT NULL,
	[CompraAbonada] [bit] NOT NULL,
	[FormaDePago] [nvarchar](max) NULL,
	[OrdenEnViaje] [bit] NOT NULL,
	[OrdenRecibida] [bit] NOT NULL,
	[NotasAdmin] [nvarchar](max) NULL,
	[FechaEntregaEstimada] [datetime] NOT NULL,
	[Comprador_Mail] [nvarchar](100) NOT NULL,
	[DatosDeEnvio_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Compras] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoEnCarroCompras]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoEnCarroCompras](
	[ProductoEnCarro_ID] [int] NOT NULL,
	[Compra_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductoEnCarroCompras] PRIMARY KEY CLUSTERED 
(
	[ProductoEnCarro_ID] ASC,
	[Compra_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoEnCarroes]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoEnCarroes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Producto_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductoEnCarroes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[Imagen] [nvarchar](max) NOT NULL,
	[Stock] [int] NOT NULL,
	[Precio] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Productos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoUsuarios]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoUsuarios](
	[Producto_ID] [int] NOT NULL,
	[Usuario_Mail] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.ProductoUsuarios] PRIMARY KEY CLUSTERED 
(
	[Producto_ID] ASC,
	[Usuario_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resenhas]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resenhas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[Puntuacion] [real] NOT NULL,
	[Autor_Mail] [nvarchar](100) NOT NULL,
	[ProductoResenhado_ID] [int] NOT NULL,
	[RespuestaA_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Resenhas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TablaDatosDeEnvio]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaDatosDeEnvio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ciudad] [nvarchar](40) NOT NULL,
	[Provincia] [nvarchar](40) NOT NULL,
	[Pais] [nvarchar](40) NOT NULL,
	[ZipCode] [nvarchar](10) NOT NULL,
	[Calle] [nvarchar](50) NOT NULL,
	[Numero] [nvarchar](max) NOT NULL,
	[Departamento] [nvarchar](10) NULL,
	[Telefono] [int] NOT NULL,
	[DatosAdicionales] [nvarchar](max) NULL,
	[Usuario_Mail] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.TablaDatosDeEnvio] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagArticuloes]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagArticuloes](
	[Tag_Nombre] [nvarchar](50) NOT NULL,
	[Articulo_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TagArticuloes] PRIMARY KEY CLUSTERED 
(
	[Tag_Nombre] ASC,
	[Articulo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Nombre] [nvarchar](50) NOT NULL,
	[Glyphicon] [nvarchar](100) NULL,
	[Prioridad] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioArticuloes]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioArticuloes](
	[Usuario_Mail] [nvarchar](100) NOT NULL,
	[Articulo_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsuarioArticuloes] PRIMARY KEY CLUSTERED 
(
	[Usuario_Mail] ASC,
	[Articulo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/9/2017 10:31:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Mail] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsColaborador] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([ID], [Titulo], [Fecha], [Link], [Texto], [Imagen], [OrdenComentInternal]) VALUES (1, N'PE nº66: Aplicando Resolución de Conflictos a tu Mesa', CAST(N'2017-03-30T12:00:00.000' AS DateTime), N'https://www.youtube.com/watch?v=y-GIvQAsn6w', N'¡Otro Miércoles de #PodcastExplosivo! Hoy vamos a hablar sobre cómo aplicar lo que aprendimos de juegos con resoluciones de conflicto no binarias a otros juegos más tradicionales. Ideas new school para juegos con raíces en los 80''/90''.', N'', NULL)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
INSERT [dbo].[CategoriaProductoes] ([Categoria_Nombre], [Producto_ID]) VALUES (N'booklet', 1)
INSERT [dbo].[CategoriaProductoes] ([Categoria_Nombre], [Producto_ID]) VALUES (N'BW', 1)
INSERT [dbo].[CategoriaProductoes] ([Categoria_Nombre], [Producto_ID]) VALUES (N'digital', 1)
INSERT [dbo].[Categorias] ([Nombre], [Prioridad], [Color], [HasStockIlimitado]) VALUES (N'aventura', 1, N'#9be83e', 0)
INSERT [dbo].[Categorias] ([Nombre], [Prioridad], [Color], [HasStockIlimitado]) VALUES (N'BitD', 0, N'', 0)
INSERT [dbo].[Categorias] ([Nombre], [Prioridad], [Color], [HasStockIlimitado]) VALUES (N'booklet', 1, N'#3be5bb', 0)
SET IDENTITY_INSERT [dbo].[ComentariosEnArticulos] ON 

INSERT [dbo].[ComentariosEnArticulos] ([ID], [Fecha], [Texto], [ArticuloComentado_ID], [Autor_Mail], [RespuestaA_ID], [Derivacion]) VALUES (1, CAST(N'2015-06-05T12:00:00.000' AS DateTime), N'Creo que la nueva edición es un espanto, los odio a todos.', 1, N'joaquinollo@gmail.com', NULL, 0)
INSERT [dbo].[ComentariosEnArticulos] ([ID], [Fecha], [Texto], [ArticuloComentado_ID], [Autor_Mail], [RespuestaA_ID], [Derivacion]) VALUES (2, CAST(N'2015-07-05T12:00:00.000' AS DateTime), N'Creo que la nueva edición es un espanto, los odio a todos.', 1, N'joaquinollo@gmail.com', 1, 1)
INSERT [dbo].[ComentariosEnArticulos] ([ID], [Fecha], [Texto], [ArticuloComentado_ID], [Autor_Mail], [RespuestaA_ID], [Derivacion]) VALUES (3, CAST(N'2017-08-05T12:00:00.000' AS DateTime), N'Creo que la nueva edición es un espanto, los odio a todos.', 1, N'joaquinollo@gmail.com', 2, 2)
SET IDENTITY_INSERT [dbo].[ComentariosEnArticulos] OFF
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([ID], [Fecha], [MailEnviado], [CompraAbonada], [FormaDePago], [OrdenEnViaje], [OrdenRecibida], [NotasAdmin], [FechaEntregaEstimada], [Comprador_Mail], [DatosDeEnvio_ID]) VALUES (2, CAST(N'2017-08-03T23:44:58.160' AS DateTime), 0, 0, N'PayPal', 0, 0, NULL, CAST(N'2005-01-01T00:00:00.000' AS DateTime), N'Martin@gmail.com', 4)
INSERT [dbo].[Compras] ([ID], [Fecha], [MailEnviado], [CompraAbonada], [FormaDePago], [OrdenEnViaje], [OrdenRecibida], [NotasAdmin], [FechaEntregaEstimada], [Comprador_Mail], [DatosDeEnvio_ID]) VALUES (3, CAST(N'2017-08-17T23:55:40.223' AS DateTime), 0, 0, N'PayPal', 0, 0, NULL, CAST(N'2005-01-01T00:00:00.000' AS DateTime), N'caligul@gmail.com', 5)
INSERT [dbo].[Compras] ([ID], [Fecha], [MailEnviado], [CompraAbonada], [FormaDePago], [OrdenEnViaje], [OrdenRecibida], [NotasAdmin], [FechaEntregaEstimada], [Comprador_Mail], [DatosDeEnvio_ID]) VALUES (4, CAST(N'2017-09-05T21:26:55.160' AS DateTime), 0, 0, N'PayPal', 0, 0, NULL, CAST(N'2005-01-01T00:00:00.000' AS DateTime), N'Martin@gmail.com', 4)
SET IDENTITY_INSERT [dbo].[Compras] OFF
INSERT [dbo].[ProductoEnCarroCompras] ([ProductoEnCarro_ID], [Compra_ID]) VALUES (1, 2)
INSERT [dbo].[ProductoEnCarroCompras] ([ProductoEnCarro_ID], [Compra_ID]) VALUES (3, 2)
INSERT [dbo].[ProductoEnCarroCompras] ([ProductoEnCarro_ID], [Compra_ID]) VALUES (4, 2)
SET IDENTITY_INSERT [dbo].[ProductoEnCarroes] ON 

INSERT [dbo].[ProductoEnCarroes] ([ID], [Cantidad], [Producto_ID]) VALUES (1, 1, 6)
INSERT [dbo].[ProductoEnCarroes] ([ID], [Cantidad], [Producto_ID]) VALUES (2, 1, 2)
INSERT [dbo].[ProductoEnCarroes] ([ID], [Cantidad], [Producto_ID]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[ProductoEnCarroes] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

SET IDENTITY_INSERT [dbo].[Productos] OFF
INSERT [dbo].[ProductoUsuarios] ([Producto_ID], [Usuario_Mail]) VALUES (1, N'Duamn@gmail.com')
INSERT [dbo].[ProductoUsuarios] ([Producto_ID], [Usuario_Mail]) VALUES (5, N'Duamn@gmail.com')
INSERT [dbo].[ProductoUsuarios] ([Producto_ID], [Usuario_Mail]) VALUES (6, N'Duamn@gmail.com')
SET IDENTITY_INSERT [dbo].[TablaDatosDeEnvio] ON 

INSERT [dbo].[TablaDatosDeEnvio] ([ID], [Ciudad], [Provincia], [Pais], [ZipCode], [Calle], [Numero], [Departamento], [Telefono], [DatosAdicionales], [Usuario_Mail]) VALUES (4, N'Mar Del Plata', N'Buenos Aires', N'Argentina', N'231534', N'San Salvador', N'8786', N'', 115315, N'', N'Martin@gmail.com')
INSERT [dbo].[TablaDatosDeEnvio] ([ID], [Ciudad], [Provincia], [Pais], [ZipCode], [Calle], [Numero], [Departamento], [Telefono], [DatosAdicionales], [Usuario_Mail]) VALUES (5, N'Rosario', N'Santa Fé', N'Argentina', N'15194', N'Bonpland', N'3158', N'1ªC', 223481814, N'', N'caligul@gmail.com')
SET IDENTITY_INSERT [dbo].[TablaDatosDeEnvio] OFF
INSERT [dbo].[TagArticuloes] ([Tag_Nombre], [Articulo_ID]) VALUES (N'podcast', 1)
INSERT [dbo].[TagArticuloes] ([Tag_Nombre], [Articulo_ID]) VALUES (N'roleródromo', 1)
INSERT [dbo].[TagArticuloes] ([Tag_Nombre], [Articulo_ID]) VALUES (N'diseño', 2)
INSERT [dbo].[Tags] ([Nombre], [Glyphicon], [Prioridad]) VALUES (N'', N'', 0)
INSERT [dbo].[Tags] ([Nombre], [Glyphicon], [Prioridad]) VALUES (N'argentina', N'', 0)
INSERT [dbo].[Tags] ([Nombre], [Glyphicon], [Prioridad]) VALUES (N'blog', N'glyphicon glyphicon-pencil', 1)
INSERT [dbo].[UsuarioArticuloes] ([Usuario_Mail], [Articulo_ID]) VALUES (N'Duamn@gmail.com', 1)
INSERT [dbo].[UsuarioArticuloes] ([Usuario_Mail], [Articulo_ID]) VALUES (N'Franco@gmail.com', 1)
INSERT [dbo].[UsuarioArticuloes] ([Usuario_Mail], [Articulo_ID]) VALUES (N'Juanma@gmail.com', 1)
INSERT [dbo].[Usuarios] ([Mail], [Password], [Nombre], [Descripcion], [IsAdmin], [IsColaborador]) VALUES (N'caligul@gmail.com', N'12345', N'Ernesto', N'Querés contarnos algo sobre vos?', 0, 0)
INSERT [dbo].[Usuarios] ([Mail], [Password], [Nombre], [Descripcion], [IsAdmin], [IsColaborador]) VALUES (N'caligulia@gmail.com', N'123456', N'Rodrigo', N'Querés contarnos algo sobre vos?', 0, 0)
INSERT [dbo].[Usuarios] ([Mail], [Password], [Nombre], [Descripcion], [IsAdmin], [IsColaborador]) VALUES (N'cyrano@vero.com', N'corazon', N'Leonardo', N'Querés contarnos algo sobre vos?', 0, 0)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categoria_Nombre]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_Nombre] ON [dbo].[CategoriaProductoes]
(
	[Categoria_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Producto_ID] ON [dbo].[CategoriaProductoes]
(
	[Producto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArticuloComentado_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ArticuloComentado_ID] ON [dbo].[ComentariosEnArticulos]
(
	[ArticuloComentado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Autor_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Autor_Mail] ON [dbo].[ComentariosEnArticulos]
(
	[Autor_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespuestaA_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_RespuestaA_ID] ON [dbo].[ComentariosEnArticulos]
(
	[RespuestaA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Comprador_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comprador_Mail] ON [dbo].[Compras]
(
	[Comprador_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatosDeEnvio_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_DatosDeEnvio_ID] ON [dbo].[Compras]
(
	[DatosDeEnvio_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Compra_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Compra_ID] ON [dbo].[ProductoEnCarroCompras]
(
	[Compra_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductoEnCarro_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductoEnCarro_ID] ON [dbo].[ProductoEnCarroCompras]
(
	[ProductoEnCarro_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Producto_ID] ON [dbo].[ProductoEnCarroes]
(
	[Producto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Producto_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Producto_ID] ON [dbo].[ProductoUsuarios]
(
	[Producto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Mail] ON [dbo].[ProductoUsuarios]
(
	[Usuario_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Autor_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Autor_Mail] ON [dbo].[Resenhas]
(
	[Autor_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductoResenhado_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductoResenhado_ID] ON [dbo].[Resenhas]
(
	[ProductoResenhado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RespuestaA_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_RespuestaA_ID] ON [dbo].[Resenhas]
(
	[RespuestaA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Mail] ON [dbo].[TablaDatosDeEnvio]
(
	[Usuario_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Articulo_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_ID] ON [dbo].[TagArticuloes]
(
	[Articulo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tag_Nombre]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tag_Nombre] ON [dbo].[TagArticuloes]
(
	[Tag_Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Articulo_ID]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Articulo_ID] ON [dbo].[UsuarioArticuloes]
(
	[Articulo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Mail]    Script Date: 10/9/2017 10:31:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Mail] ON [dbo].[UsuarioArticuloes]
(
	[Usuario_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComentariosEnArticulos] ADD  DEFAULT ((0)) FOR [Derivacion]
GO
ALTER TABLE [dbo].[CategoriaProductoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaProductoes_dbo.Categorias_Categoria_Nombre] FOREIGN KEY([Categoria_Nombre])
REFERENCES [dbo].[Categorias] ([Nombre])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriaProductoes] CHECK CONSTRAINT [FK_dbo.CategoriaProductoes_dbo.Categorias_Categoria_Nombre]
GO
ALTER TABLE [dbo].[CategoriaProductoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaProductoes_dbo.Productos_Producto_ID] FOREIGN KEY([Producto_ID])
REFERENCES [dbo].[Productos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoriaProductoes] CHECK CONSTRAINT [FK_dbo.CategoriaProductoes_dbo.Productos_Producto_ID]
GO
ALTER TABLE [dbo].[ComentariosEnArticulos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.Articulos_ArticuloComentado_ID] FOREIGN KEY([ArticuloComentado_ID])
REFERENCES [dbo].[Articulos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComentariosEnArticulos] CHECK CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.Articulos_ArticuloComentado_ID]
GO
ALTER TABLE [dbo].[ComentariosEnArticulos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.ComentariosEnArticulos_RespuestaA_ID] FOREIGN KEY([RespuestaA_ID])
REFERENCES [dbo].[ComentariosEnArticulos] ([ID])
GO
ALTER TABLE [dbo].[ComentariosEnArticulos] CHECK CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.ComentariosEnArticulos_RespuestaA_ID]
GO
ALTER TABLE [dbo].[ComentariosEnArticulos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.Usuarios_Autor_Mail] FOREIGN KEY([Autor_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComentariosEnArticulos] CHECK CONSTRAINT [FK_dbo.ComentariosEnArticulos_dbo.Usuarios_Autor_Mail]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Compras_dbo.TablaDatosDeEnvio_DatosDeEnvio_ID] FOREIGN KEY([DatosDeEnvio_ID])
REFERENCES [dbo].[TablaDatosDeEnvio] ([ID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_dbo.Compras_dbo.TablaDatosDeEnvio_DatosDeEnvio_ID]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Compras_dbo.Usuarios_Comprador_Mail] FOREIGN KEY([Comprador_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_dbo.Compras_dbo.Usuarios_Comprador_Mail]
GO
ALTER TABLE [dbo].[ProductoEnCarroCompras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductoEnCarroCompras_dbo.Compras_Compra_ID] FOREIGN KEY([Compra_ID])
REFERENCES [dbo].[Compras] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoEnCarroCompras] CHECK CONSTRAINT [FK_dbo.ProductoEnCarroCompras_dbo.Compras_Compra_ID]
GO
ALTER TABLE [dbo].[ProductoEnCarroCompras]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductoEnCarroCompras_dbo.ProductoEnCarroes_ProductoEnCarro_ID] FOREIGN KEY([ProductoEnCarro_ID])
REFERENCES [dbo].[ProductoEnCarroes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoEnCarroCompras] CHECK CONSTRAINT [FK_dbo.ProductoEnCarroCompras_dbo.ProductoEnCarroes_ProductoEnCarro_ID]
GO
ALTER TABLE [dbo].[ProductoEnCarroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductoEnCarroes_dbo.Productos_Producto_ID] FOREIGN KEY([Producto_ID])
REFERENCES [dbo].[Productos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoEnCarroes] CHECK CONSTRAINT [FK_dbo.ProductoEnCarroes_dbo.Productos_Producto_ID]
GO
ALTER TABLE [dbo].[ProductoUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductoUsuarios_dbo.Productos_Producto_ID] FOREIGN KEY([Producto_ID])
REFERENCES [dbo].[Productos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoUsuarios] CHECK CONSTRAINT [FK_dbo.ProductoUsuarios_dbo.Productos_Producto_ID]
GO
ALTER TABLE [dbo].[ProductoUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductoUsuarios_dbo.Usuarios_Usuario_Mail] FOREIGN KEY([Usuario_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoUsuarios] CHECK CONSTRAINT [FK_dbo.ProductoUsuarios_dbo.Usuarios_Usuario_Mail]
GO
ALTER TABLE [dbo].[Resenhas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resenhas_dbo.Productos_ProductoResenhado_ID] FOREIGN KEY([ProductoResenhado_ID])
REFERENCES [dbo].[Productos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resenhas] CHECK CONSTRAINT [FK_dbo.Resenhas_dbo.Productos_ProductoResenhado_ID]
GO
ALTER TABLE [dbo].[Resenhas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resenhas_dbo.Resenhas_RespuestaA_ID] FOREIGN KEY([RespuestaA_ID])
REFERENCES [dbo].[Resenhas] ([ID])
GO
ALTER TABLE [dbo].[Resenhas] CHECK CONSTRAINT [FK_dbo.Resenhas_dbo.Resenhas_RespuestaA_ID]
GO
ALTER TABLE [dbo].[Resenhas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Resenhas_dbo.Usuarios_Autor_Mail] FOREIGN KEY([Autor_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resenhas] CHECK CONSTRAINT [FK_dbo.Resenhas_dbo.Usuarios_Autor_Mail]
GO
ALTER TABLE [dbo].[TablaDatosDeEnvio]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TablaDatosDeEnvio_dbo.Usuarios_Usuario_Mail] FOREIGN KEY([Usuario_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TablaDatosDeEnvio] CHECK CONSTRAINT [FK_dbo.TablaDatosDeEnvio_dbo.Usuarios_Usuario_Mail]
GO
ALTER TABLE [dbo].[TagArticuloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagArticuloes_dbo.Articulos_Articulo_ID] FOREIGN KEY([Articulo_ID])
REFERENCES [dbo].[Articulos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagArticuloes] CHECK CONSTRAINT [FK_dbo.TagArticuloes_dbo.Articulos_Articulo_ID]
GO
ALTER TABLE [dbo].[TagArticuloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagArticuloes_dbo.Tags_Tag_Nombre] FOREIGN KEY([Tag_Nombre])
REFERENCES [dbo].[Tags] ([Nombre])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagArticuloes] CHECK CONSTRAINT [FK_dbo.TagArticuloes_dbo.Tags_Tag_Nombre]
GO
ALTER TABLE [dbo].[UsuarioArticuloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioArticuloes_dbo.Articulos_Articulo_ID] FOREIGN KEY([Articulo_ID])
REFERENCES [dbo].[Articulos] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioArticuloes] CHECK CONSTRAINT [FK_dbo.UsuarioArticuloes_dbo.Articulos_Articulo_ID]
GO
ALTER TABLE [dbo].[UsuarioArticuloes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioArticuloes_dbo.Usuarios_Usuario_Mail] FOREIGN KEY([Usuario_Mail])
REFERENCES [dbo].[Usuarios] ([Mail])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioArticuloes] CHECK CONSTRAINT [FK_dbo.UsuarioArticuloes_dbo.Usuarios_Usuario_Mail]
GO
USE [master]
GO
