@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editorial: Checkout";
    ViewBag.HeaderText = ".editorial";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-book";
}

<div class="container-fluid">
    <div class="main z-depth-1 row">
        @Html.Partial("~/Views/Shared/_Avisos.cshtml")
    </div>
</div>