@using Runas_Explosivas.Models;
@{
    ViewBag.Title = "Registro";
    ViewBag.HeaderText = "Registro de usuario";
    ViewBag.HeaderGlyph = "";
}

<div class="container-fluid bottom-pad">
    <div class="main z-depth-1 row">
        <form id="form-registro" action="@Url.Action("RegistroUsuarioNuevo", "Home")" method="post">
            <h2>Usuario nuevo</h2>
            <div class="form-group">
                <label for="NombreCompleto">Nombre Completo</label>
                <input type="text" name="NombreCompleto" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Mail">Dirección de email</label>
                <input type="email" name="Mail" class="form-control" placeholder="amoelrol@dand.com" required autofocus>
            </div>
            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input type="password" name="Password" class="form-control" placeholder="*******" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> I'm not a robot
                </label>
            </div>

            <div class="form-group">
                <textarea rows="4" cols="50" name="Descripcion" class="form-control">Querés contarnos algo sobre vos?</textarea>
            </div>
            <button class="btn btn-lg boton-lateral btn-primary btn-block" type="submit">Registrate!</button>
        </form>
    </div>
</div>