@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
}


<div id="display-articulos" class="main">
    <p class="articulo-info alineado-derecho">14/12/1989</p>   
    <h2>PE nº66: Aplicando Resolución de Conflictos a tu Mesa</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="articulo-info">autor: Juan Manuel Ávila</p>
        </div>
        <div class="col-md-6">
            <p class="articulo-info alineado-derecho">.podcast.diseño.D&D</p>
        </div>
    </div>
    <hr class="inverted z-depth-1">
    <div class="cuerpo-articulo">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel purus in lacus viverra sodales. Aliquam vestibulum urna et hendrerit condimentum. Nulla tristique ut lectus sed imperdiet. Suspendisse finibus interdum metus, vitae lobortis dolor rhoncus sed. Quisque quis velit iaculis, ullamcorper tortor vitae, rhoncus purus. Morbi ornare, est eu sollicitudin ullamcorper, sem leo tempor libero, quis lacinia tellus est nec nisl. Sed quis neque at odio egestas pulvinar. Nulla maximus erat eu efficitur commodo.</p>

        <p>Fusce gravida mi ac velit iaculis, id tempus erat elementum. Proin et eleifend ipsum, eget accumsan justo. Phasellus consequat nec augue vitae congue. Suspendisse eu commodo justo, nec tempor sapien. Nullam in efficitur sapien, vitae viverra mauris. Aliquam eu neque accumsan, hendrerit diam interdum, consectetur nibh. Donec ornare neque turpis, vitae gravida ante mattis et.</p>

        <p>In ac lacus egestas, suscipit odio a, cursus neque. Nunc at urna ac mauris hendrerit eleifend consectetur at elit. Fusce gravida, eros in lobortis feugiat, turpis lectus ultricies justo, sed interdum est tortor ac est. Aliquam convallis tempus quam ac viverra. Duis pretium nibh sed dignissim fringilla. Nullam id dolor eget turpis feugiat auctor at sed felis. Quisque in auctor mauris. Sed semper arcu quis leo pellentesque, posuere facilisis tortor malesuada. In hac habitasse platea dictumst. Donec vitae facilisis augue. Morbi eleifend neque quis magna placerat, ut mollis augue tincidunt. In fringilla tortor a libero pellentesque, a ornare enim sodales.</p>

        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean consectetur auctor vulputate. Sed iaculis tellus consequat gravida congue. Sed id lorem vel lorem lacinia tempor. Fusce malesuada velit magna, sodales aliquet nisi blandit ut. Mauris sed gravida justo, sit amet faucibus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

        <p>Sed lacinia eget sapien sit amet tempor. Donec id porttitor mi. Cras ut posuere felis. In hac habitasse platea dictumst. Ut consectetur tincidunt hendrerit. Duis iaculis sed tortor maximus condimentum. Maecenas iaculis mi mauris, id semper nisl vestibulum nec. Donec sagittis pharetra gravida. Ut sagittis turpis nec nibh consequat, vel porta nulla vehicula. Curabitur sit amet auctor ipsum. Praesent gravida urna arcu, eget imperdiet diam tempor non. Quisque in odio ut tortor scelerisque rutrum. Sed maximus mi sit amet tincidunt vulputate.</p>

        <p>Nunc pulvinar tortor a nibh interdum lobortis. Vivamus a augue tempor, viverra augue at, egestas massa. Donec ultrices tellus nec magna imperdiet, in pretium diam vestibulum. Nulla molestie risus in consectetur interdum. Integer iaculis nunc quam, vitae iaculis mauris ornare at. Nulla dignissim pharetra arcu, eu lobortis magna facilisis id. Phasellus blandit odio eget elit rutrum, non pulvinar nunc pellentesque. Vivamus a massa arcu. Curabitur ante dolor, facilisis id ornare non, venenatis vitae dui. Aenean congue eleifend arcu. Duis eu neque sit amet turpis fringilla imperdiet. Proin porta leo at nunc efficitur, a congue neque consequat. Ut id luctus ligula.</p>

        <p>Etiam placerat ut risus id condimentum. Etiam nec arcu condimentum, tincidunt nibh at, accumsan turpis. Donec nisl erat, rutrum a blandit dapibus, interdum a orci. Nunc ex justo, sagittis quis ornare vel, vulputate sit amet nunc. Pellentesque in tellus vel orci elementum imperdiet ac ac diam. Proin ex est, feugiat eget quam non, pellentesque porta leo. Maecenas dignissim arcu sit amet feugiat imperdiet. Proin posuere sollicitudin hendrerit. Proin mollis magna ac nibh placerat placerat. Mauris rhoncus elementum cursus. Sed nec lacinia urna. Phasellus tristique facilisis felis a tincidunt. Mauris sit amet tortor ut velit condimentum aliquam vel at magna. Sed lectus risus, suscipit id dolor sed, fermentum elementum eros.</p>
    </div>
    <hr class="inverted z-depth-1">
    <h3>Comentarios</h3>
    <div class="media-list">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="~/Content/Images/profile.jpg" alt="imagen de perfil">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Peperino Pómoro</h4>
            Creo que es un espanto esta nueva edición, y que no deberían llamarla ya juego de rol.
        </div>
    </div>

</div> <!-- fin de display articulos -->
