@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
}


<div id="display-articulos" class="main">
    <p>14/12/1989</p>   
    <h2>PE nº66: Aplicando Resolución de Conflictos a tu Mesa</h2>
    <p>Autor: Juan Manuel Ávila</p>

    <p>.podcast.diseño.D&D</p>
    <hr class="inverted z-depth-1">
    <p></p>
    <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

</div> <!-- fin de display articulos -->