@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
    ViewBag.Title = "Blog";
    ViewBag.Btn = "btn-lg";
    ViewBag.BtnUsuario = "";
    ViewBag.BtnBuscar = "";
    ViewBag.BtnCarrito = "hide";
    ViewBag.HeaderText = ".blog";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-pencil";
}


<!-- DISPLAY ARTÍCULOS.PRINCIPAL -->
<div class="main z-depth-1 row">
    <div id="display-articulos">
        <div class="row articulo" id="destacado">
        </div> <!-- fin de div articulo-->
        <hr class="inverted z-depth-1">

        <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

        <div class="row" id="display-articulos-secundarios">
        </div>
    </div> <!-- fin de display articulos -->
</div> <!-- fin de row main-->