@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderText = ".contacto";
    ViewBag.Title = "Contacto";
}

<div class="main z-depth-1 row">
    <h3>Dejanos tu opinión, pedido, consulta, puteada...</h3>
    <form action="@Url.Action("Mensaje", "Home")" method="post" id="form-contacto">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="nombre" required autofocus>
                    <input type="email" name="email" class="form-control" placeholder="email@email.email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="mensaje" class="sr-only">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" class="form-control" placeholder="son geniales" required></textarea>
                </div>
                <button class="btn btn-lg btn-primary btn-block z-depth-1" type="submit">Enviar mensaje</button>
            </div>
            <div class="col-md-6 form-group">
                <h5>Enviar a:</h5>
                <input type="radio" name="sendTo" value="Runas" checked><b> Runas Explosivas</b><br>
                <input type="radio" name="sendTo" value="Avila"> Juan Manuel Ávila<br>
                <input type="radio" name="sendTo" value="Houtte"> Martín Van Houtte<br>
                <input type="radio" name="sendTo" value="Ruassol"> Duamn Figueroa Ruassol<br>
                <input type="radio" name="sendTo" value="Ollo"> Joaquín Ollo<br>
                <input type="radio" name="sendTo" value="Ignacio"> El Gato Gaspar Ignacio<br>
            </div>
        </div>
    </form>
</div>