@{
        Layout = "~/Views/Shared/_Barra Lateral.cshtml";
        ViewBag.Title = "Editorial";
        ViewBag.Btn = "";
        ViewBag.BtnUsuario = "";
        ViewBag.BtnBuscar = "";
        ViewBag.BtnCarrito = "";
        ViewBag.HeaderText = ".editorial";
        ViewBag.HeaderGlyph = "glyphicon glyphicon-book";
}


<!-- DISPLAY TIENDA.DESTACADO -->

<div class="row main">
    <div class="display-tienda col-md-10 col-xs-11">
        <div class="row" id="tienda-destacado">
            <div class="articulo">

            </div> <!-- fin de div producto destacado-->
        </div>	<!-- fin de row-->
        <hr class="z-depth-1">

        <!-- DISPLAY TIENDA.SECUNDARIOS

        Productos más nuevos ofrecidos primero-->

        <div class="row">
            <div class="col-md-4 articulo">
            </div>
            <div class="col-md-4 articulo">
            </div>
            <div class="col-md-4 articulo">
            </div>
        </div>
    </div> <!-- fin de display tienda -->
</div>