@{
    ViewBag.Title = "Runas Explosivas";
    ViewBag.HeaderText = "Tu lugar de referencia sobre juegos de rol en Argentina";
    ViewBag.HeaderGlyph = "";
}

<!-- DISPLAY ARTÍCULOS.PRINCIPAL -->
<div id="display-articulos" class="main">
    <div class="row articulo" id="destacado">

    </div>
    <hr class="inverted z-depth-1">

    <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

    <div class="row" id="display-articulos-secundarios">

    </div> <!-- fin de row -->
</div> <!-- fin de display articulos -->
