@{
    Layout = "~/Views/Shared/_Barra Lateral.cshtml";
    ViewBag.Title = "Podcast";
    ViewBag.Btn = "btn-lg";
    ViewBag.BtnUsuario = "";
    ViewBag.BtnBuscar = "";
    ViewBag.BtnCarrito = "hide";
    ViewBag.HeaderText = ".podcast";
    ViewBag.HeaderGlyph = "glyphicon glyphicon-headphones";
}

<!-- DISPLAY ARTÍCULOS.PRINCIPAL -->

<div class="main z-depth-1 row">
    <div id="display-articulos">
        <div class="row articulo" id="destacado">
        </div>	<!-- fin de row articulo-->
        <hr class="inverted z-depth-1">

        <!-- DISPLAY ARTÍCULOS.SECUNDARIOS -->

        <div class="row" id="display-articulos-secundarios">

        </div>
    </div> <!-- fin de display articulos -->
</div> <!-- fin de row main-->