@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="~/Content/Images/profile.jpg" alt="imagen de perfil" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Peperino Pómoro</h4>
                <p>que es un espanto esta nueva edición, y que no deberían llamarla ya juego de rol.</p>
            </div>
        </div>
    </div>
</body>
</html>